# Connectivity
#DB_DRIVER=postgresql
DB_DRIVER=sqlite3
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=database

# Scraper configuration
AUTO=true
GET_INTERVAL=0.5
NUMBER_MATCHES=10
LANG_REPORT=es
START_MATCH=
UP=false
